/*
* style
*/
html{
  height: 100%;
}
body{
  padding-top: 50px;
  background-color: #f3f3f3;
  color: #676767;
  font-family:  arial;
  height: 100%;
}

a{
  color: inherit;
}
a:link, a:visited {
	text-decoration: none
  color: #676767;
	}
a:hover {
	text-decoration: none;
  color: inherit;
	}
a:active {
	text-decoration: none;
  color: #676767;
	}

.no-margin-fullscreen{
  height:100%;
  margin:0px;
  padding:0px;
}
.nav-default{
    background-color: #628DB6;
    color:#F3F3F3;
}

.sidebar{
    width:100%;
    margin:0px;
    padding:0px;
    border-right:1px solid #E3E3E3;
    /*position:absolute;*/
    height: 100%;
    background-color:#FFFFFF;
}

.sidebar > h2{
  margin:0px;
  padding-top: 25px;
  border-bottom: 1px solid #E3E3E3;
  height: 80px;
  text-align: left;
  padding-left:38px;
}

.sidebar > ul {
  margin:0px;
  padding: 0px;
}

.sidebar > ul > li{
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 10px;
    padding-top: 10px;
    list-style: none;
    margin:0px;
    padding-left:40px;
    text-align: left;
    vertical-align: middle;
}

.sidebar > ul > li:hover {
  background-color: #628DB6;
  color:#FFFFFF;
  cursor: pointer;
}

.sidebar > ul > li > a > span{
    float:right;
    padding-right: 50px;
    margin-left: 0px;
    padding-left: 0px;
}

.search-container{
  border-bottom:1px solid  #F3F3F3;
  background-color: #F3F3F3;
  padding: 10px;
}

.search-container > input{
  border:0px;
  background-color: #F3F3F3;
  margin-left: 10px;
  width: 90%;
}

.nav-default h5{
    font-size: 18px;
    margin-top:15px;
    letter-spacing: 3px;
    font-family: sans-serif;
    width:270px;
    text-align: left;
    padding-left:23px;
}
.central{
  background-color: #FFFFFF;
  margin-top: 20px;
  width:95%;
  border:1px solid #E3E3E3;
  height: calc(100% - 20px);
}
.container-menu-dropdown-user{
  margin-top:15px;
  margin-right: 2.5%;
}
.menu-dropdown-user{
  margin-top:20px;
  border:0px;
  background-color: #628DB6;
  color:#FFFFFF;
  text-decoration: none;
}
.menu-dropdown-user:hover{
  background-color: #628DB6;
  color:#FFFFFF;
  cursor:pointer;
}
.menu-dropdown-user:hover{
  background-color: #628DB6;
  color:#FFFFFF;
  cursor:pointer;
}

.menu-dropdown-user > img{
  width:24px;
  height:24px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.btn-action > a{
  border-radius:20px;
  margin-top:20px;
  float: right;
}

