<div class="row">
    <div class="col-md-6">
        <h2>Imoveís</h2>
    </div>
    <div class="col-md-6 btn-action" >
            <a href="{% url 'imoveis_cadastro'%}" class="btn btn-primary" >Adicionar</a>
    </div>    
</div>    