<div>
        <form action="{% url 'imoveis_search' %}" method="GET">
        
            <div class="row">
                 <div class="col-md-3">   
                    <label>{{ frm_search_imoveis.endereco.label }}</label><br/>
                    {{ frm_search_imoveis.endereco }}
                 </div>
                 <div class="col-md-3">   
                    <label>{{ frm_search_imoveis.cidade.label }}</label><br/>
                    {{ frm_search_imoveis.cidade }}
                 </div> 
            <!-- </div>     
            <div class="row">        -->
                 <div class="col-md-3">        
                    <label>{{ frm_search_imoveis.bairro.label }}</label><br/>
                    {{ frm_search_imoveis.bairro }}
                 </div>
                 <div class="col-md-3">   
                    <label>{{ frm_search_imoveis.estado.label }}</label><br/>
                    {{ frm_search_imoveis.estado }}
                 </div>   
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <input type="submit" value="Buscar" class="btn btn-primary"/>
                </div>    
            </div>

            
        </form>
</div>    