<h1>Cadastro Imoveís</h1>

<!-- <div class="container"> -->
        {%if id %}
            <form action="{% url 'imoveis_update'%}" method="POST" enctype="multipart/form-data">    
        {% else %}
            <form action="{% url 'imoveis_save'%}" method="POST" enctype="multipart/form-data">
        {% endif %}
            {% if frm_imoveis.errors %}
            <div class=" alert alert-danger" >
                {{frm_imoveis.errors}}
            </div>
            {% endif %}
            


            {% if messages %}
            <div class=" alert alert-success" >
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
             </div>   
            {% endif %}


            
            
            {% csrf_token %}

            
            <div class="row">
                <div class="col-md-12">
                    {%if id %}
                        <input type="hidden" name="id" value="{{ id }}"/>
                    {% endif %}
                    
                    <label>{{ frm_imoveis.locador.label }}</label>
                    {{ frm_imoveis.locador }}
                </div>
            </div>    
            <div class="row">    
                <div class="col-md-4">    
                    <label>{{ frm_imoveis.email.label }}</label>
                    {{ frm_imoveis.email }}
                </div>    
                <div class="col-md-6">    
                        <label>{{ frm_imoveis.endereco.label }}</label>
                        {{ frm_imoveis.endereco }}
                </div>

                <div class="col-md-2">    
                        <label>{{ frm_imoveis.numero.label }}</label>
                        {{ frm_imoveis.numero }}
                </div>    
                
            </div>
            <div class="row">    
                <div class="col-md-4">    
                    <label>{{ frm_imoveis.bairro.label }}</label>
                    {{ frm_imoveis.bairro }}
                </div>    
                <div class="col-md-4">    
                        <label>{{ frm_imoveis.cidade.label }}</label>
                        {{ frm_imoveis.cidade }}
                </div>
                <div class="col-md-4">    
                        <label>{{ frm_imoveis.estado.label }}</label>
                        {{ frm_imoveis.estado }}
                </div>    
            </div>

            <div class="row">    
                    <div class="col-md-4">    
                        <label>{{ frm_imoveis.valor_aluguel.label }}</label>
                        {{ frm_imoveis.valor_aluguel }}
                    </div>
                            
                    <div class="col-md-4">    
                            <label>{{ frm_imoveis.alugado.label }}? :</label>
                            {{ frm_imoveis.alugado }}
                    </div>
                    <div class="col-md-4">    
                            <label>{{ frm_imoveis.imagem.label }}</label>
                            {{ frm_imoveis.imagem }}
                    </div>    
            </div>

            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <input type="submit" value="Salvar" class="btn btn-primary"/>
                </div>    
            </div>
            
       
            
            
                

            
        </form>
<!-- </div>     -->