<!-- {#% extends 'imovel/index.html' %} -->
{% load static %}

{% include "imovel/_actionbar.html" %} 
{% include "imovel/_filtro.html" %} 
<br/>
{% if messages %}
<div class=" alert alert-success" >
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
 </div>   
{% endif %}


<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Aluguel</th>    
            <th>Alugado?</th>
            <th>Locador</th>
            <th>#</th>        
        </tr>    
    </thead> 
    <tbody>
        {% if imoveis %}
            {% for imovel in imoveis %}
                <tr>
                    <th scope="row" >{{ imovel.id }}</th>
                    <td>{{ imovel.valor_aluguel }}</td>
                    <td>{% if imovel.alugado == 1 %} SIM {% else %} NAO {% endif %}</td>
                    <td>{{ imovel.locador.nome }}</td>
                    <td>
                        <a href="#" style="margin-right:5px;" class="btn btn-danger pull-right del-imv" > 
                            <span class="glyphicon glyphicon-trash"  ></span>
                            <form action="{% url 'imoveis_delete' %}" method="POST">{% csrf_token %}<input type="hidden" name="index" value="{{ imovel.id }}"/></form>
                        </a>
                        
                        <a href="{% url 'imoveis_edit' id=imovel.id %}" style="margin-right:5px;" class="btn btn-warning pull-right edit-imv" > 
                            <span class="glyphicon glyphicon-pencil"  ></span>
                        </a>
                        <a href="{% static '..' %}{{imovel.imagem}}" style="margin-right:5px;" data-toggle="lightbox" class="btn btn-primary pull-right" >
                             <span class="glyphicon glyphicon-camera"  ></span>
                             
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>{{imovel.endereco}}</td>
                    <td>{{imovel.numero}}</td>
                    <td>{{imovel.bairro}}</td>
                    <td>{{imovel.cidade}} ({{ imovel.estado.uf}})</td>
                    <td></td>
                </tr>                 
            {% endfor %}        
        {% endif %}
    </tbody>       

</table>



