<aside class="sidebar">
        <h2>Imoveís</h2>
        <ul>
          <li><a href="{% url 'index' %}"> Imoveís<span class="glyphicon glyphicon-home"  ></span></a></li>
          <li><a href="#"> Locador <span class="glyphicon glyphicon-briefcase"  ></span></a></li>
          <li><a href="#"> Locatário <span class="glyphicon glyphicon-user"  ></span></a></li>
          <!--<li><a href="#">Consultas <span class="glyphicon glyphicon-book"  ></span></a></li>
          <li><a href="#"> Planos <span class="glyphicon glyphicon-credit-card"  ></span></a></li>
          <li><a href="#"> Médicos <span class="glyphicon glyphicon-plus-sign"  ></span></a></li>
          <li><a href="#"> Usuarios <span class="glyphicon glyphicon-user"  ></span></a></li> -->
        </ul>
</aside>