<nav class="navbar nav-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <!-- <div class="col-xs-3 col-sm-1 col-md-1">
                      <h5><span class="glyphicon glyphicon-menu-hamburger"></span></h5>
                    </div> -->
                    <div class="col-xs-3 col-sm-3 col-md-3">
                      <h5>SISImoveís</h5>
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 pull-right">

                      <!-- <div class="dropdown pull-right container-menu-dropdown-user">
                          <a class="dropdown-toggle menu-dropdown-user"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="images/user-default.png">
                            Admin
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Meus dados</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Sair</a></li>
                          </ul>
                      </div> -->
                    </div>
                </div>
            </div>
          </div>
        </div>
    </nav>