<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Imoveís</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <!-- Bootstrap -->
    <link href="{% static '/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    {% include "imovel/_navbar.html" %}
    <div class="container-fluid no-margin-fullscreen"  >
      <div class="row no-margin-fullscreen" >
        <div class="col-sm-3 col-md-3 no-margin-fullscreen" >
            {% include "imovel/_menu.html" %}
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 no-margin-fullscreen">
          <section class="container-fluid central">
               {% include "imovel/_form_imoveis.html" %}
          </section>
        </div>

      </div>
    </div>


    <footer>

    </footer>
    <!--JQuery (necessário para os plugins Javascript bootstrap)-->
    <script src="{% static '/jquery/dist/jquery.js' %}"></script>
    <script src="{% static '/bootstrap/dist/js/bootstrap.min.js' %}"></script>

  </body>
</html>



